<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap and other CSS/JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-confetti@0.1.2/jquery.confetti.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dice-roller@1.0.0/dist/dice-roller.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dice-roller@1.0.0/dist/dice-roller.theme.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Metamorphous&family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Aniron&display=swap"
      rel="stylesheet"
    />

    <!-- Include page-specific styles -->
    {% if page.styles %}
    <style>
      {{ page.styles }}
    </style>
    {% endif %}

    <!-- Include default styles -->
    {% include styles.html %}
  </head>
  <body>
    {{ content }}

    <!-- Include page-specific scripts -->
    {% if page.scripts %}
    <script>
      {
        {
          page.scripts;
        }
      }
    </script>
    {% endif %}

    <!-- Include default scripts -->
    {% include scripts.html %}
  </body>
</html>
